body {
    background-color: cornsilk;
    font-family: "Garamond";
	text-align: left;
}

h1 {
    font-size: 2.25em;
    font-family: "Garamond", sans-serif;
}

h2 {
    font-family: "Garamond", sans-serif;
}

a {
	color: green;
}

footer {
	position: absolute; 
	bottom: 0em; 
	text-align: center; 
	width: 90%; 
	left: 5%; 
	height: calc(3.65em + 26px); 
}

#undertitle_links {
    font-size: 1.2em; 
    white-space: pre-wrap;
    font-weight: 600;
}

@media only screen and (max-width: 1000px) {
    h1 {
        text-align: left;
    }
}