body {
    font-family: "Garamond";
	text-align: left;
}

h1 {
    font-size: 2.25em;
    font-family: "Garamond", sans-serif;
}

h2 {
    font-family: "Garamond", sans-serif;
}

a {
	color: green;
}

footer {
	position: absolute; 
	bottom: 0em; 
	text-align: center; 
	width: 98%; 
	left: 1%; 
	height: calc(3.65em + 26px); 
}

#undertitle_links {
    font-size: 1.2em; 
    white-space: pre-wrap;
    font-weight: 600;
}

.ivory {
    background-color: ivory;
}

.flex {
    display: flex;
}

.col {
    flex: 1;
}

.column {
    width: 800px;
    margin-left: calc(((100vw - 800px) / 2) - 2.1em)
}

@media only screen and (max-width: 900px) {
    h1 {
        text-align: left;
    }

    .column {
        width: 100%;
        margin-left: 0px;
    }
}