body {
	text-align: left;
}

h1 {
    font-family: "Garamond", serif;
    font-size: 2em;
    margin-bottom: 0.6rem;
}

h2 {
    font-family: "Garamond", serif;
}

a {
	color: green;
}

footer {
	position: absolute; 
	bottom: 0em; 
	text-align: center; 
	width: 65%; 
    margin-left: calc(17.5% - 8px);
	height: calc(3.65em + 26px); 
}

#catalogue h2 {
    font-family: Arimo; 
}

#undertitle {
    font-family: "Arimo", sans-serif;
    font-weight: 800;
    margin-left: 0.5rem;
}

#undertitle #admission_of_guilt {
    font-weight: normal;
    margin: 0.4rem 1rem 0.25rem;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
}

#article_table {
    width: 100%; 
    margin-top: 1em;
}

#article_table td {
    padding-top: 0.5em;
    padding-bottom: 1em;
    padding-left: 1em;
}

#article_table a {
    font-family: "Arimo", sans-serif; 
    font-weight: 500; 
    font-size: 1.1em; 
    text-decoration: none;
}

#st_george {
    height: 80vh; 
    float: right; 
    margin-right: 10vw;
}

#st_george img {
    height: 90%;
    background-image: url('images/gif/background.gif');
    padding: 3px"
}

.main_link {
    margin-left: 0.3em; 
    font-size: 1.1em; 
    font-weight: 600; 
    font-family: "Arimo", sans-serif
}

.main_link br {
    margin-bottom: 0.5rem;
}

.manicule {
    font-family: "Garamond";
    font-weight: bold;
}

.smaller {
    font-size: smaller;
}

.pre_wrap {
    white-space: pre-wrap;
}

.half_margins {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.ivory {
    background-color: ivory;
}

.bordered {
	border-width: 3px; 
	border-color: palevioletred;
	border-style: ridge;
}

.column {
    width: calc(800px * 0.95);
    margin-left: calc(((100vw - (800px * 0.95)) / 2) - 2.1em)
}

@media only screen and (max-width: 900px) {
    h1 {
        text-align: left;
    }

    .column {
        width: 90%;
        margin-left: 5%;
    }

    td {
        display: block;
        width: 100%;
        padding-left: 0.5em; 
    }

    footer {
        height: calc(9.65em + 26px);
        width: calc(100% - 16px); 
        margin: 0rem;
    }
}