html {
   font-family:'Times New Roman', Times, serif; color: rgb(23, 21, 21) ;
}

.background {
    padding: 20px; 
    color: darkred; 
    background-color: chartreuse; 
}

#grandma {
    position: fixed; 
    left: 2em; 
    bottom: -0.1em;
}

#schleppy {
    position: absolute; 
    right: .5em; 
    bottom: 0em;
    width: 20vw;
}
main { 
    margin: 4em 50em 0em 1.6em; 
}
#somberdog {
    right: 0.5em;; 
    width: 4.2em;
    margin-bottom: -1.5em  ;
    margin-left: -.1.9em;
}