body {
	background-color: white;
	color: black;
	text-align: left;
	margin: 0px;
}

a {
	color: green;
	font-weight: lighter;
}

footer {
	position: absolute; 
	bottom: 0em; 
	text-align: center; 
	width: 90%; 
	left: 5%; 
	height: calc(3em + 31px); 
}

.content {
	padding-bottom: calc(4em + 31px);
}

#page_container {
	min-height: 100vh;
	position: relative;
}

#navbar {
	float: left;
	position: absolute;
	margin-left: 15px;
	margin-top: 12px;
}

#navbar img {
	width: 50px;
	padding: 10px;
	border-style: ridge;
	border-width: 3px;
	margin-top: 10px;
}

#navbar img:hover {
	width: 45px;
	margin: 2.5px;
	margin-top: 12.5px;
}

#navbar_home {
	border-color: red;
	background-color: yellow;
}

#navbar_links {
	background-color: rgb(218, 218, 219); 
	border-color: #86a1be;
}










#music_player {
	position: absolute; 
	z-index: 90; 
	border: 2px ridge #90a7d8;
	background-color: #d7def3;
}

#music_player_title_bar {
	background-color: #4f60a2;
	padding-left: 1ex;
	padding-right: 10rem;
	padding-top: 1px;
	padding-bottom: 3px;
	cursor: move; 
	z-index: 91;
	text-align: left;
}


#music_player img {
	padding-top: .3rem;
	padding-bottom: .1rem;
}

#music_player img:hover {
	width: 38px;
	margin-top: 1px;
	cursor: pointer;
}