@font-face {
	font-family: "Garamond";
	src: url("fonts/EBGaramond-VariableFont_wght.ttf") format("truetype");
}

@font-face {
	font-family: "Arimo";
	src: url("fonts/Arimo-VariableFont_wght.ttf") format("truetype")
}