article {
    padding: 26px 0;
}

hr {
    margin: 0;
}

small {
    font-size: 0.9rem;
}

#left_side {
    width: clamp(550px, 800px, 60%);
}

#right_side {
    position: fixed; top: 0px; 
    width: calc((100% - (2.4rem  + 16px)) - clamp(550px, 800px, 60%)); 
    margin-left: calc(clamp(550px, 800px, 60%)); 
    height: 100vh;
}

#zinloos_man {
    position: absolute; 
    padding: 2rem; 
    width: clamp(250px, 34%, 60%); 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom:0;
    margin: auto; 
    height: fit-content;
}

#zinloos_man img {
    max-width: 100%;
}

#logo {
    padding: 1.5rem 1rem 2rem;
}

#logo img {
    max-width: 100%;
}

#logo strong {
    font-size: 0.95rem;
    padding-left: 7.5%;
}

#articles {
    width: calc(100% - 1rem);
    padding: 0rem 0.5rem; 
}

#the_world {
    width: 70%; 
    padding-left: 15%; 
    filter: invert()
    brightness(106%)
}

.info {
    font-size: 1.35rem; 
    font-family: "Arimo", Arial, sans-serif; 
    font-style: italic;
    text-align: center; 
}

.title {
    font-size: 1.25rem;
    font-family: "Arimo", Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: 600;
}

.author {
    font-size: 1.35rem;
    text-decoration: none;
}

.date {
    font-family: "Arimo";
    letter-spacing: 3px; 
    margin-top: 2px;
    margin-bottom: 1rem;
}

.summary {
    font-family: 'Times New Roman', Times, serif; 
    white-space-collapse: preserve; 
    font-size: 1.1rem; 
    line-height: 1.4rem;
    width: 90%;
    margin-left: 1rem;
}

@media only screen and (max-width: 900px) {
    #left_side {
        width: 100%
    }

    #logo {
        padding-bottom: 0.5rem;
    }

    .info {
        margin-top: 0.75rem;
    }
}